

.container {
  max-width:fit-content;
  margin: auto auto;
  padding: 20px;
  border: 5px solid #ccc;
  border-radius: 10px;
  background-color: pink;
}

h1,h2 {
  text-align: center;
}

input[type="text"]{
  width: 96%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
} 